@model IndexViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản của bạn";
}

<h1>@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Cập nhật thông tin tài khoản</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">Thông tin cơ bản:</dt>
        <dd class="col-sm-6"> 
            <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.UserName)
                 </dt>   
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.UserName)
                 </dd>
            </dl>
             <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.UserEmail)
                 </dt>   
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.UserEmail)
                 </dd>
            </dl>
              <dl class="row">
                 <dt class = "col-sm-6">
                    @Html.DisplayNameFor(m => Model.profile.PhoneNumber)
                 </dt>   
                 <dd class = "col-sm-6">
                    @Html.DisplayFor(m => Model.profile.PhoneNumber)
                 </dd>
            </dl>
            <a asp-action="EditProfile" class="btn btn-primary btn-sm">Sửa</a>
 
        </dd>

        <dt class="col-sm-4">Mật khẩu:</dt>
        <dd class="col-sm-6">
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-danger">Đổi mật khẩu</a>
            }
        </dd>

    </dl>
</div>